.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1%;
    background-color:rgb(255, 253, 253);
    width:45%;
    border-radius:10px;
    box-shadow: 0 0 10px #ecebed(0, 0, 0, 0.2);
}
body{
    background-color:rgba(15, 15, 15, 0.297) ;
  }